/* line 1, do-something/_coconote.sass */
#note {
  width: 100%;
}

/* line 8, do-something/_jquery.sass */
#describe {
  width: 80%;
  padding-top: 35px;
  margin-bottom: 10px;
}

/* line 10, do-something/_jquery.sass */
#code {
  width: 80%;
  padding-top: 35px;
  margin-bottom: 10px;
}

/* line 12, do-something/_jquery.sass */
#comment {
  width: 80%;
  padding-top: 35px;
  margin-bottom: 10px;
}

/* line 14, do-something/_jquery.sass */
.docs {
  position: relative;
}

/* line 16, do-something/_jquery.sass */
.docs .corner {
  background-color: whitesmoke;
  border: 1px solid #dddddd;
  color: #9da0a4;
  font-size: 12px;
  font-weight: bold;
  left: 1px;
  padding: 3px 17px;
  position: absolute;
  top: 1px;
}

/* line 28, do-something/_jquery.sass */
strong.title {
  font-size: 36px;
  line-height: 40px;
  padding: 0 15px;
}

/* line 33, do-something/_jquery.sass */
.new-note {
  margin-bottom: 10px;
}

/* line 4, do-something.scss */
.system-message {
  padding: 24px 48px;
}

/* line 5, do-something.scss */
.system-message h1 {
  font-size: 100px;
  font-weight: normal;
  line-height: 120px;
  margin-bottom: 12px;
}

/* line 6, do-something.scss */
.system-message .jump {
  padding-top: 10px;
}

/* line 7, do-something.scss */
.system-message .jump a {
  color: #333;
}

/* line 8, do-something.scss */
.system-message .success, .system-message .error {
  line-height: 1.8em;
  font-size: 36px;
}

/* line 9, do-something.scss */
.system-message .detail {
  font-size: 12px;
  line-height: 20px;
  margin-top: 12px;
  display: none;
}
